@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vgu-orange: #FF7A00;
  --vgu-darkblue: #0D223F;
  --vgu-yellow: #FCD020;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
